{% extends 'base.html' %}

{% block content %}
 <div class="container-fluid">
    <div style="padding: 30px;">
        <p></p>
    </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5 image-wrapper">
                {% if course.image %}
                <img src="{{ course.image.url }}" alt="Course Iamge">
                {%else%}
                <img src="" alt="Course Image">
                {% endif%}
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-3">
                        <strong>{{course.course_name}}</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7 text-white">
                        {{course.description}}</p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="{% url 'meru_learning:course_update' slug=course.slug pk=course.pk %}">Update</a>
                        <a class="btn btn-black display-4" href="{% url 'meru_learning:units_list' slug=course.slug  school=course.school%}">View Units&nbsp;</a>
                        <a class="btn btn-secondary display-4" href="{% url 'meru_learning:course_delete' slug=course.slug pk=course.pk %}">Delete&nbsp;</a></div>
                </div>
            </div>
        </div>
        <div style="padding: 30px;">
            <p></p>
        </div>
    </div>


{% endblock %}