{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if success %}
<div class="alert alert-success" role="alert">
    The New Student Added Successfully.
    <a href="{% url 'users_list' %}" class="alert-link">View Student</a>
</div>
{% else %}
<div class="row justify-content-centre">
    <div class="col-12">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i>Update Student/staff information
            </div><br>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <br>
                    <input class="btn btn-success" type="submit" value="Update" />
                    <a href="{% url 'users_list' %}" class="btn bg-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{%endif%}{% endblock content %}
