{% extends 'index.html' %}

{% block content %}
  <section data-bs-version="5.1" class="header5 cid-tmhMmlp6Jf mbr-fullscreen" id="header5-0">




    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(34, 165, 229);"></div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Welcome to MUST</strong></h1>

                <p class="mbr-text mbr-fonts-style mbr-white display-5">The left button is for students,&nbsp; the right button is for staff</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-black display-5" href="{% url 'student_login' %}">Student Login</a>
                    <a class="btn btn-warning display-5" href="{% url 'staff_login' %}">Staff Login</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
