{% extends 'base.html' %}

{% block content %}

<section id="best-features" class="text-center">
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#ff5722;">Meru school of sciences and technology</h2>
              <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                  <p class="blue-text">Click on the school you like to see the attendance information below</p>
                </div>
              </div>
              <div class="row">
                      {% for school in schools %}
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 36rem; height: auto">
                            {% if school.image %}
                            <img src="{{ school.image.url }}" alt="School image" height="auto" width="100%">
                            {% else %}
                               <p></p>
                            {% endif %}
                          <div class="card-body text-center">
                            <h4 class="card-title" style="color:#ff5722;">{{school.name}}</h4>
                            <p class="card-text">{{school.description|truncatechars:75}}</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'meru_learning:courses_list' slug=school.slug %}" class="btn btn-primary" style="background-color:#00bcd4;">View Courses</a>
                            {%else%}
                            <p>Register or login to check or manage attendance</p>
                            <a href="{% url 'login' %}" class="btn btn-std" style="background-color:#00bcd4;">Login</a>
                            <a href="{% url 'signup' %}" class="btn btn-primary" style="background-color:#00bcd4;">Register</a>
                            {%endif%}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
              </div>
</section>

{% endblock %}