{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-fluid">
  <div style="padding: 40px;"><p></p></div>
     <div class="mbr-section-head">
      <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1">
              <strong>All Units </strong></h4>
      </div>
    
      <div class="row ">
        <div class="col-12 ms-1">
          <div class="card bg-light ms-1 me-6 mb-6">
            <div class="display-2">
                <h2 class="mbr-section-title  align-right mb-0 display-1">
        <a  href="{% url 'meru_learning:unit_create' slug=courses.slug school=courses.school.slug %}" class="btn btn-black" >
          <h2><span>+ Add Unit</span> </h2>
    </a>
</h2>
            </div>
            <div class="card-body">
              <p class="card-text  display-4">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Unit</th>
                        <th scope="col">Course</th>
                        <th scope="col">On Offer</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Lectures</th>
                         <th scope="col">Students</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for unit in courses.units.all %}
                     <tr>
                        <td>
                            <h4>{{unit.unit_name}}</h4>
                        </td>
                        <td><p><strong>{{unit.course}}</strong></p></td>
                        <td>{{unit.is_offered}}</td>
                        <td>{{unit.semester}}</td>
                        <td>
                                <a class="btn btn-black" href="{% url 'meru_learning:lectures_list' slug=unit.slug course=courses.slug school=courses.school%}">
                                    
                                        Lectures
                                    
                                </a>
                        </td>
                        <td>
                                <a class="btn btn-primary" href="{% url 'meru_learning:unit_student_list' slug=unit.slug course=courses.slug school=courses.school%}">
                              
                                        Registered Students
                                    
                                </a>
                        </td>
                        <td>
                            <a class="btn btn-black" href="{% url 'meru_learning:unit_student_registration' slug=unit.slug course=courses.slug school=courses.school%}">
                            
                                        Register Student
                                    
                            </a>
                        </td>
        
                     </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </p>
            </div>
        </div>
        </div>
        </div>
    


{% endblock %}