{% extends 'base.html' %}

{% block content %}
{% load static %}>
<div class="row">
<div class="col-12">
  {% if user %}
  <div class="card bg-light ms-4 me-4 mb-4">
    <div class="card-header">
     All Units

    </div>
    <div class="card-body">
      <p class="card-text">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Unit</th>
                <th scope="col" >Course</th>
                <th scope="col">On Offer</th>
                <th scope="col">Semester</th>
                  <th scope="col">Lecturer</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for unit in courses.units.all %}
             <tr>
                <td>
                    <h3>{{unit.unit_name}}</h3>
                </td>
                <td>{{unit.course}}</td>
                <td>{{unit.is_offered}}</td>
                <td>{{unit.semester}}</td>
                  <td>{{unit.lecturer}}</td>
                <td>
                        <a class="btn btn-primary" href="{% url 'meru_learning:lectures_list' slug=unit.slug course=courses.slug school=courses.school%}">
                         View Lectures
                        </a>
                     <a class="btn btn-primary" href="{% url 'meru_learning:unit_student_list' slug=unit.slug course=courses.slug school=courses.school%}">
                          Registered Students
                        </a>
                     <a class="btn btn-primary float-right" href="{% url 'meru_learning:unit_student_registration'  slug=course.slug school=courses.school%}">
            Register Student
          </a>
                </td>


             </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
      </p>
    </div>
</div>
  {% else %}
  <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
  {% endif %}

</div>
</div>

{% endblock %}