{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div style="padding: 30px;">
        <p></p>
    </div>
    <form action="" method="POST" enctype="multipart/form-data" style="color: rgb(223, 178, 152); font-size:large; font-weight:bold; background-color:black">
        {% csrf_token %}
        {{form|crispy}}<br>
         <h1 class=""><input class="btn btn-white display-2" type="submit" value="Update" /></h1>
        <a href="{% url 'meru_learning:school_detail' pk=school.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
        </div>
        <div style="padding: 30px;">
            <p></p>
        </div>
</div>

{% endblock content %}

