{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div style="padding: 30px;">
        <p></p>
    </div><h1 class="text-white display-2">New School</h1>
    <form action="" method="POST" enctype="multipart/form-data" style="color: rgb(223, 178, 152); font-size:large; font-weight:bold; background-color:black">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-white display-2" type="submit" value="Add" />
        <a href="{% url 'meru_learning:schools_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
        </div>
        <div style="padding: 30px;">
            <p></p>
        </div>
</div>


{% endblock content %}

