{% extends 'base.html' %}

{% block content %}
{% load static%}
<div class="container-fluid">
    <div style="padding: 30px;">
        <p></p>
    </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5 image-wrapper">
                {% if school.image %}
                <img src="{{ school.image.url }}" alt="Course Iamge">
                {%else%}
                <img src="" alt="school Image">
                {% endif%}
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-3">
                        <strong>{{school.name}}</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7 text-white">
                        {{school.description}}</p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="{% url 'meru_learning:school_update' pk=school.pk %}">Update</a>
                        <a class="btn btn-black display-4" href="{% url 'meru_learning:courses_list' slug=school.slug %}">View Courses&nbsp;</a>
                        <a class="btn btn-secondary display-4" href="{% url 'meru_learning:school_delete' pk=school.pk %}">Delete&nbsp;</a></div>
                </div>
            </div>
        </div>
        <div style="padding: 30px;">
            <p></p>
        </div>
    </div>

{% endblock %}