{% extends 'base.html' %}



{% block content %}
<div class="container-fluid">
    <div style="padding: 30px;">
        <p></p>
    </div>
    <ul class="row">
        <div class="alert alert-success" role="alert">
            <h1> Your Current Registered Units</h1>
        </div>
        {% for unit in registered_units %}
        <li class="col-auto " >
                <div class ="card  bg-white mb-3 sm-3" style="width: 339px;">
                <div class="card-body">
                    <h2 class="category-name-cap">Unit : {{unit.unit}}</h2><hr>
                    <h3 class="card-text btn ">Year : {{unit.year}}</h3><hr>
                    <h3 class="card-text btn ">Semester: {{unit.semester}}</h3><hr>
                <button class="btn btn-indigo btn-rounded btn-md">
                    <a class="btn bg-danger text-white" href="{% url 'registration:registration_delete' pk=unit.pk %}">
                        <h2>
                            <span> Remove</span>
                        </h2>
                    </a>
                </button>
                </div>
            </div>
        </li>
    
        {% endfor %}
    </ul>
        <div style="padding: 130px;">
            <p></p>
        </div>
  </div>
  


{% endblock %}



